@font-face {
  font-family: myFont;
  src: url(./font/NeueHaasDisplayLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  /* background-color: rgb(255, 0, 217); */
  background-color: #111;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 2vw 10vw;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  font-size: 0.7vw;
  font-weight: lighter;
  gap: 2vw;
}

#nav-bottom {
  position: absolute;
  background-color: #111;
  height: 0%;
  width: 80%;
  bottom: -1%;
  border-bottom: 2px solid #dadada;
  transition: all ease 0.65s;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1vw 10vw;
  padding-left: 11.5vw;
}

.bottom-div h5 {
  margin-bottom: 0.5vw;
  opacity: 0;
}

.bottom-div h5 span {
  font-size: 0.7vw;
  font-weight: lighter;
}

nav:hover #nav-bottom {
  bottom: -150%;
  height: 160%;
}

nav:hover .bottom-div h5 {
  opacity: 9;
}

nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10vw;
  height: 6.2vh;
  border-radius: 25px;
  font-size: large;
  border: #111;
}

nav button svg {
  width: 1vw;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 9.7vw;
}

#page1 h1 {
  font-size: 9.2vw;
  text-transform: uppercase;
  line-height: 9vw;
  font-weight: 900;
}

#page1 h1 svg {
  background-color: #0ba34e;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
}

#page1 p {
  text-align: center;
  font-size: large;
  padding-top: 3vw;
}

#page1-something {
  display: flex;
  font-size: large;
}

#page1-something h4 {
  font-weight: 100;
  padding: 0.5vw 0.7vw;
  border: 0.07px solid rgba(255, 255, 255, 0.281);
  border-radius: 50px;
  margin: 0.2vw;
}

#page1-something h4:nth-last-child(2) {
  border: none;
  padding: 0.5vw 0;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
